@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

@using MinhaAppVS.Modulos.Vendas.Data
@inject IPedidoRepository PedidoRepository
Ola @PedidoRepository.ObterPedido().Id

<p>Use this page to detail your site's privacy policy.</p>
